@{
    ViewData["Title"] = "Про Нас";
}

<section class="about-us">
    <div class="content-wrapper">
        <h1>Ваша мрія про американське авто стає ближче!</h1>
        <p>Ми - команда професіоналів, закоханих у світ американських авто.</p>
        
        <h2>Чому обирати нас?</h2>
        <div class="section-content">
            <img src="~/images/whyus.jpg" alt="Чому обирати нас?" class="about-image" width="250" height="150">
            <div class="why-choose-us">
                <ul>
                    <li><strong>Досвід та надійність:</strong> Ми маємо багаторічний досвід роботи з імпорту авто з США та знаємо всі нюанси цього процесу.</li>
                    <li><strong>Прозорість:</strong> Ми надаємо детальну інформацію про кожен лот, щоб Ви могли зробити впевнений вибір.</li>
                    <li><strong>Безпека:</strong> Ми співпрацюємо з перевіреними партнерами та гарантуємо юридичну чистоту угоди.</li>
                    <li><strong>Економія:</strong> Купівля авто з США - це вигідна інвестиція, адже Ви економите значні кошти порівняно з цінами на українському ринку.</li>
                    <li><strong>Індивідуальний підхід:</strong> Ми підберемо авто, яке максимально відповідає Вашим потребам та бюджету.</li>
                </ul>
            </div>
        </div>
        
        <h2>Що ми пропонуємо?</h2>
        <div class="section-content">
            <img src="~/images/whatdoweoffer.png" alt="Що ми пропонуємо?" class="about-image" width="250" height="200">
            <div class="our-services">
                <ul>
                    <li><strong>Пошук авто:</strong> Ми допоможемо Вам знайти авто Вашої мрії на американських аукціонах Copart, IAA, Manheim.</li>
                    <li><strong>Доставка:</strong> Ми організуємо доставку авто з США в Україну "під ключ".</li>
                    <li><strong>Розмитнення:</strong> Ми допоможемо Вам з розмитненням авто та оформленням всіх необхідних документів.</li>
                    <li><strong>Ремонт та тюнінг:</strong> Ми можемо запропонувати Вам послуги з ремонту та тюнінгу Вашого авто.</li>
                </ul>
            </div>
        </div>
        
        <p>Звертайтеся до нас, і ми зробимо все можливе, щоб Ви стали щасливим власником американського авто!</p>
        
        <h2>Наші контакти:</h2>
        <ul>
            <li><strong>Телефон:</strong> +380 63 599 5087</li>
            <li><strong>Сайт:</strong> <a asp-controller="Auto" asp-action="Index">Наш Сайт</a></li>
            <li><strong>Адреса:</strong> м. Київ</li>
        </ul>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/about.css" />
}
