@{
    ViewData["Title"] = "Головна";
}

<div class="main-content">
    <div class="text-overlay">
        <h1>Вітаємо на нашому сайті!</h1>
        <p>Тут ви можете знайти найкращі авто зі США.</p>
    </div>
</div>
